# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/
ENV/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Machine Learning Models
# ==============================
models/*.pt
models/*.pth
models/*.h5
models/*.ckpt
models/*.pkl

# ==============================
# Dataset Files
# ==============================
data/*.csv
data/*.xlsx
data/*.json

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Streamlit
# ==============================
.streamlit/

# ==============================
# System Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Build / Cache
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Temporary Files
# ==============================
*.tmp
*.swp